<html style="background-color: white">
<body id="blog" style="background-color: white">


<div class="article">
  <div class="wrapper" style="background: url('http://res.cloudinary.com/x78163/image/upload/v1504646029/picture051_r0sb75.jpg') no-repeat center center fixed;">
    <div class="wrapperText">
      <h1 id="blog">
        <mark>Holographic Command and Control System (Hololens VirtualTOC)</mark>
      </h1>
      <h2 id="blog">
        <mark>by Joseph DiFrancesco</mark>
      </h2>
      <div id="accountDetail" class="accountInfo">
        <div class="header">
          <h2><mark>Lina Regental</mark></h2>
          <p><mark>Producer & Author</mark></p>
        </div>
        <div class="profilePicture"></div>
        <p class="profileText" id="blog">Chef, Community Volunteer, Conveyor of Messages, Electro Producer, Scapegoat. Is that a double rainbow? D:.</p>
        <button>Check me out ></button>
      </div>
    </div>
  </div>
  <!--The Text is generated with hipsum.co :) Check it out! -->
    <div class="articleText">
      <h4 class="introduction" id="blog">THE ARMY WARFIGHTER DESERVES A MODERNIZED FRONT END DESIGN FOR DATA AND BATTLESPACE
MANAGEMENT. THE MICROSOFT HOLOLENS PROVIDES THE HARDWARE AND INTERFACE NECESSARY
TO TRULY TRANSFORM THE PETABYTES OF DATA AVAILABLE TO SOLDIERS INTO AN INTUITIVE
INTERFACE. THE MODERN WARFIGHTER CONTINUES TO USE PAPER MAPS AND HUNDREDS OF POUNDS
OF COMPUTER GEAR TO ACCESS EXTENSIVE BACK END DATABASES OF INTELLIGENCE DATA. A MODERN
SYSTEM UTILIZING THE MICROSOFT HOLOLENS CAN REVOLUTIONIZE THE BATTLEFIELD ENVIRONMENT.</h4>


<div class="video-container">
<iframe  height="315" width="560" src="//www.youtube.com/embed/_0VCrcvKleo" frameborder="0" allowfullscreen modestbranding="1" rel="0" showinfo="0" fs="0"></iframe>
</div>

<h2 id="blog">Introduction</h2>
      <p id="blog">The battlefield today is unrecognizable from those of merely a half century ago.  Information is
the true weapon of the modern era.  The force which leverages the information and can transform the
petabytes of raw data into useful information wins the engagement every time.  Our weapons become
smarter and smarter, but they need the proper information to keep us out of harms way and destroy
the enemy.  As the United States is the leader in technological innovation in the world, it should be
fitting that we become the first to adopt new data management systems and display methodologies to
provide our Soldiers an unparalleled advantage in war. </p>

      <h2 id="blog">Problem Statement </h2>
      <p id="blog">The modern warfighter has access to significantly more data than his predecessors, however
that data requires laborious interpretation to turn it into actionable information.  If the warfighter
represents the front end of a system then the intelligence community/repository represents the back
end.  No matter how efficient and functional a back end process may be, a poor front end design
completely negates the effort.  The modern warfighter contends with a front end design that often
favors paper maps and printed slides over connected devices.  Modern military connected devices do
perform the tasks ascribed, however they lack intuitive interfaces (CPOF) and operate very slowly
(FBCB2).  Additionally, the systems are not practically field portable and they require substantial
amounts of support equipment for even the most basic level of functionality.  These systems
additionally require a continuous data connection and become useless to warfighters when the
connection fails.  The warfighter needs a front end design for battlespace management of the same
quality as the back end systems supporting him.   </p>

<h2 id="blog">Background</h2>
      <p id="blog">Current military data management systems do exactly what they are supposed to do.  They
follow a very strict and stove‐pipened development and acquisition process.  A specification is
generated and staffed, which is sent to acquisitions.  Bidding processes and testing occurs between
potential prime contractors and eventually a winner emerges who build a device to the strict
specifications dictated by the military.  These systems, such as: Blue Force Tracker, Command Post of
the Future, FBCB2, PSDS2, TIGR, SADDL, LONGBOWNET and TAIS all perform exactly as required.
However the requesting agencies often operate in a knowledge vacuum of the bleeding edge technology
in industry.  To date, there is not a sufficient and immersive data management client which gives the
user immediate access to data he or she needs.   </p>
<br>
        <p id="blog">Currently, leaders in field environments use paper products, user unfriendly and unintuitive
computer systems or highly specialized mobile devices to build a picture of the battlefield.  Often times,
sand tables or physical models of the operational area are used to visualize terrain relief and understand
the environment better.  To date, the Soldier lacks a comprehensive system which allows superior
situational awareness while on the battlefield.  Most proposed solutions include 2 dimensional tablet
style devices which are great improvements over the current paper methods, but still present data in an
abstract and less intuitive fashion.  The leader is faced with continuously interpreting multiple forms of
data, cross correlating them and then making split second decisions.  With better data and more
intuitive representation/interaction, the leader has additional time and context to make better decisions
faster.  </p>
<br>
          <p id="blog">The Augmented Reality Holographic Mission Command (Virtual TOC) system provides
unparalleled intutitive situational awareness and command and control to users in extreme
environments.  The hardware and software suite gives that leader unparalleled access to multiple
Command and Control/Battlespace Management platforms in an easy to understand and manipulate
format.  The holographic interface emits little light, but grants the user access to capabilities previously
requiring tens of computers and tens of monitors.  With user level authentication needed and encrypted
flash memory, loss of the device to the enemy grants the enemy forces less information than a
misplaced map or notebook.  Additionally, with interfaces with the most common battlespace
management software currently available and expansion capability, military commanders may issue new
orders in more intuitive ways faster.  Commanders can remotely interact through the datalink with each
other to collaborate on shared sand tables and battle maps.  The system provides a real time
collaboration tool amongst military leaders meters from enemy and in offices in the United States.  With
near perfect situational awareness, leaders, both on the lowest level and highest level can understand
the nature of the battlefield in real time. </p>





      <h2 id="blog">Summary of Concept </h2>
      <p id="blog">Holographic augmented reality, vis a vis the Microsoft Hololens and similar devices provides that
client platform for proper display of all different command and control/situational awareness data in
layerable or a user configurable interface.  Conceptually, the device is field portable and provides the
user an immediate augmented 3 dimensional mission management suite with interfaces to appropriate
military networks.  The overall system requires a server to aggregate all of the mission command system
data and combine them into an interactive 3 dimensional real time updated virtual object.  This data
includes UAV/Aircraft streaming video and metadata, Radar Imagery, Intelligence Analysis points of
interest, hyper‐spectral imagery, real time unit locations, sensor footprints, dynamic messaging, and
emulation of the different battle command systems.  </p>



       <h2 id="blog">Detailed Description </h2>
      <p id="blog">Conceptually, the user level augmented reality holographic device (Hololens) would connect to a
military network using a field portable datalink interface with access to an aggregating server by way of
a datalink.  There are numerous products which aggregate the different protocols such as Trax and future versions of the C4I CPOF system.  The user level augmented reality holographic device maintains
mission specific information uploaded to the device prior to mission via the appropriate planning
software system (AMPS, CPOF).  The upload includes stand‐alone copies of the most recent overlays,
plans, CONOPS and timelines.  Should the DATALINK fail in the field, commanders still have access to the
base knowledge aggregated just prior to departing on the mission as well as a fallback datalink utilizing a
mono‐directional broadcast protocol.
The user level augmented reality holographic device also allows the user to manipulate objects
within the holographic overlays.  With a connection to a field portable datalink interface, this allows the
user to request air‐strikes, medevacs or other support strictly from placing a graphic on his virtual map.
With radio‐navigation technology such as GPS, the user’s location will be overlaid on the virtual map and
broadcast back to the aggregating server for reverse population on all connected systems (CPOF, FBCB2,
etc).  This increases situational awareness across all assets operating within that theater.
With access to UAS video streams, the user can maneuver towards the objective with video
overlays or images of the objective within his line of sight.  Additionally, with the sensor footprint
overlays on the virtual terrain map, the user can verify flight and attack headings rapidly at a glance and
verify clearances.  As technology develops, the device would permit Levels of Interaction for UAS control
up to LOI‐5.
Remote machine emulation on the user level augmented reality holographic device allows the
user to select battle command platforms he wishes to interact with in a traditional fashion.  For
instance, if he wants to use the FBCB2 interface directly, he can request an emulation of the FBCB2
panel on a flat plane in his holographic overlay.  The aggregating server hosts the emulation, streaming
screen data to the user and interpolates selection and data entry based upon location on the flat plane.
This requires little hardware acceleration for the end user as the emulation is effectively a streaming
video.  For lower latency systems, the emulation may be accomplished via individually pushed images
rather than streaming video as applicable.
The user level augmented reality holographic device would also allow for radio emulation using
a software defined radio (SDR) via the field portable datalink interface in order to communicate on
multiple bands nearly simultaneously using existing technology.  The user level augmented reality
holographic device would allow full duplex communication via VOIP through the datalink or within the
immediate area using the SDR in the field portable datalink interface.
The system consists of interfaces/plugins to established military mission command and data
management systems called the interface assembly, an aggregating server to host the simulation, a
robust datalink using established military protocols such as TCDL or BFT with redundancy using a fallback
datalink protocol, a field portable datalink interface and SDR for the holographic device, and a
ruggedized user level augmented reality holographic device.  Any peripherals required for additional
functionality would be added as needed (keyboard, pointing devices, etc).   </p>


       <h2 id="blog">Interface Assembly</h2>
      <p id="blog">The interface assembly is a hardware and software solution which provides bidirectional
connections to a variety of military battlespace management protocols.  The design is modular with additional adaptors and software built as new systems are released.  The interface assembly contains
several processors and storage devices to normalize and cache data from the outside battlespace
management software.  It also translates output from the server to specific battlespace management
systems as needed.  For instance, if a remote user plots an enemy location on the holographic interface,
the interface assembly translates the code into formats recognized by BFT, CPOF, SADL and the other
formats.  Such a system exists and is called TRAX, manufactured by the Sierra Nevada Corporation.   </p>

 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364268/1_k6mfcb.png" alt="" />

 <h2 id="blog">Aggregating server </h2>
      <p id="blog">The aggregating server uses all of the imported data streams to construct dynamic overlays
compatible with the user level device.  Traditional remote terminals may access the same terrain and
aggregated layer information in a more standard monitor and mouse setup.  The server is connected to
multiple datalink interfaces to distribute access via military networks.   </p>

 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364269/2_qfou0p.png" alt="" />

      <p id="blog">Utilizing military industry standard data transmission protocols, the server may communicate via
the interface assembly across a multitude of network types.  As the system utilizes the network
backbone the military installs it on, the limit of protocols for transmission are completely dependent on
those the military customer supports.  As long as the user device IP address is visible to the aggregating
server, bi‐directional data transmission may occur.  The common standards include TCDL, FM Radio, UHF
Radio, VHF Radio, C, Ka, Ku Band Satellite, cell phone network and wifi as applicable.  The system
incorporates a redundant fallback datalink operating as a completely passive system. </p>

 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364266/3_vyhkgw.png" alt="" />

       <h2 id="blog">Fallback Datalink </h2>
      <p id="blog">As latency in information is highly dangerous, the system could utilize a ‘fallback’
communications mode.  Using the ‘Fallback’ data transmission protocol, the server will broadcast data
changes in compressed packets continuously.   </p>
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364265/4_t7lych.png" alt="" />

      <p id="blog">Should the primary and secondary network connections fail to the datalink, the fallback mode
allows the user level device to ‘listen’ to an encrypted broadcast of the dynamic data.  As this is passive,
it allows the user to receive up to date information in an environment where radio transmissions may be
isolated and geolocated to enemy advantage.  This passive receipt of data is coded appropriately for the
immediate region of the user level device.  The user level device ‘listens’ to the fallback broadcast at
specific time slots assigned to the region, decrypts the change packet and updates the user map.  When
the user connects back to the primary or alternate datalink, all user level requests and changes
automatically get pushed to the aggregating server which then rebroadcasts via the normal and fallback
datalink protocols.  The fallback datalink also allows for export of user level data to a removable storage
device for physical conveyance to a networked device should there be a need. </p>


 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364270/5_khldfh.png" alt="" />

      <p id="blog">While the system operates in the fallback mode, communication is strictly unidirectional from
the hosting satellite.  Since the data is encrypted prior to transmission from the terrestrial server to the
satellite, there are no restrictions on the type/kind of satellite.  For instance, a government agency could
purchase a Direct TV satellite channel and stream the encrypted fallback data across an entire continent.   </p>

       <h2 id="blog">Field Portable Datalink Interface</h2>
      <p id="blog">The datalink interface contains a multiband satellite antenna, Fallback antenna, and multiband
line of sight frequency antenna.  The antenna are connected to a software defined radio connected to
an appropriate encryption device.  The Software Defined Radio (SDR) emulates any radio type which can
use the included antenna and emulates the hardware and software for each specific protocol.  The SDR
contains a modem and small server to provide a network connection to the user level device.  In secure
environments, the datalink interface may be untethered from the device and used in a secure WiFi
broadcast mode similar to a cellular hot spot.  The Datalink Interface normally has a tether to the user holographic device, providing secure data and power to the device.  Should the datalink interface be
untethered, the device may operate in a stand alone mode or wirelessly tether for continuous data
updates.  Should the datalink interface fail in entirety, the stand alone holographic user device will
operate with the last data image it received. </p>

 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364261/6_kbnwtt.png" alt="" />


       <h2 id="blog">User Level Hololens </h2>
      <p id="blog">The user level Hololens is the primary interface unit for the user.  It provides stereoscopic 3D
imagery overlaid on the immediate environment.  The 3D images may be interacted with directly by the
user.  The user can customize the interface and experience, opening up emulated programs, adding or
removing overlays, adjusting the map, updating/submitting reports, coordinate medevac, ammend
mission orders graphically and collaborate with other leaders in real time in a virtual collaborative
environment.  The user device uses a form of environment recognition in order to geographically place
the holograms in the environment, anchoring them to the terrain.  The user can set up his immediate
environment with anchored holograms in a manner he finds most useful.  Through the device camera
and microphone/speakers, the user can talk on any radio channel associated with the battlespace and
stream video from his location.  The user can also view UAS or remote video though holographic
overlays which can be geolocated with actual devices in real space.  The interface may be manipulated
by hand or peripheral device.   </p>

 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364270/7_o6g5n6.png" alt="" />


      <p id="blog">The above is a snapshot from a virtual TOC environment running in an open field.  The extreme
proximity of the imagery demonstrates the interactive and immersive nature of the virtual TOC.  The
user may walk through the terrain model and interact with objects in a fluid intuitive way.   </p>


 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364275/9_zpyglc.png" alt="" />

      <p id="blog">The Virtual TOC environment stays tied to the immediate geographic terrain and remains there
until the user repositions it.  Since the Hololens uses pattern recognition to tie holograms to the
environment, the user can leave established Virtual TOC instances in different areas.   </p>

 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364275/10_c4b4zy.png" alt="" />


      <p id="blog">The Virtual TOC environment stays tied to the immediate geographic terrain and remains there
until the user repositions it.  Since the Hololens uses pattern recognition to tie holograms to the
environment, the user can leave established Virtual TOC instances in different areas.   </p>


 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364273/11_cir4ou.png" alt="" />


      <p id="blog">The emulation of various Command and Control systems as well as the stripping of metadata
from the various data streams permits the user to display previously uncorrelated data in one intuitive
display format.   </p>


 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364274/12_lkuh0r.png" alt="" />



      <p id="blog">The conceptual implementation of the system does not require hardware upgrades for any
participating systems.  Instead, the system simply translates the different already established protocols
and ‘piggy backs’ on existing infrastructure.  This concept is best exemplified in the computer gaming
world, the virtual hosted environment for a game allows access to that environment from a PC,
Macintosh and console simultaneously.  However, instead of each device deliberately interacting with
the Virtual TOC system, the Virtual TOC system extracts and injects data into the legacy data streams.
This does not require any upgrades to legacy hardware due to the system adjusting to the legacy
protocols. </p>




      <p id="blog">The Virtual TOC can be launched in space constrained environments, such as an alley picture
above.  The scaling of the simulation gives the user the ability to maintain command and
control/situational awareness in all types of environments; a cave to a mountain top. </p>

        <h2 id="blog">Conclusion</h2>
      <p id="blog">While the Virtual TOC concept requires additional hardware development for full
implementation, limited functionality exists with just the Hololens system.  Even without an established
datalink, the Hololens platform permits an amazingly intuitive method of displaying traditionally
abstract data rapidly to warfighters.  In the snapshots above, a simulation of the Virtual TOC has been
written for proof of concept.  Even with demo level functionality, the holographic environment displays
information so intuitively users automatically begin navigating the system with less than 10 seconds of
orientation to the Hololens platform.  By developing a modern front end design for data management
for the warfighter, we can shorten that warfighter’s OODA‐Loop processing pathway, and allow our
Soldiers to think orders of magnitude faster than the enemy.   </p>


  </div>
</div>

</body>
</html>
