<section class="about">
  <div class="content">
    <h2>Hi There!</h2>
    <p>I'm Benjamin Stock, A Computer Science Student at the University of Lincoln in the United Kingdom!</p><br>
    <p>Im currently enhancing my skills in web design, such as front end HTML and CSS, as well as back-end Jquery, XML, and Angular.</p>
  </div>
</section>


<section class="skills">
  <div class="content">
    <div class="development-wrapper">
      <h2 class="development-title">Skills</h2>
      <ul class="skills-bar-container">
        <li>
          <div class="progressbar-title">
            <h3>HTML5</h3>
            <span class="percent" id="html-pourcent"></span>
          </div>
          <div class="bar-container" data-percent="95">
            <span class="progressbar" id="progress-html"></span>
          </div>
        </li>
        <li>
          <div class="progressbar-title">
            <h3>CSS / SASS</h3>
            <span class="percent" id="css-pourcent"></span>
          </div>
          <div class="bar-container" data-percent="85">
            <span class="progressbar" id="progress-css"></span>
          </div>
        </li>
        <li>
          <div class="progressbar-title">
            <h3>JavaScript / jQuery</h3>
            <span class="percent" id="javascript-pourcent"></span>
          </div>
          <div class="bar-container" data-percent="80">
            <span class="progressbar" id="progress-javascript"></span>
          </div>
        </li>
        <li>
          <div class="progressbar-title">
            <h3>PHP</h3>
            <span class="percent" id="php-pourcent"></span>
          </div>
          <div class="bar-container" data-percent="65">
            <span class="progressbar" id="progress-php"></span>
          </div>
        </li>
        <li>
          <div class="progressbar-title">
            <h3>AngularJS</h3>
            <span class="percent" id="angular-pourcent"></span>
          </div>
          <div class="bar-container" data-percent="70">
            <span class="progressbar" id="progress-angular"></span>
          </div>
        </li>
      </ul>
    </div>
    <div class="tools-knowledge-wrapper">
      <div class="tools-wrapper">
        <h2 class="title">Tools</h2>
        <ul class="tools">
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Photoshop
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Sony Vegas Professional Video Editor
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Brackets HTML Editor
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Full Experience of Full Microsoft Office Package
          </li>

        </ul>
      </div>
      <div class="knowledge-wrapper">
        <h2 class="title">Knowledge</h2>
        <ul class="knowledge">
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Wireframing - Initial Website Mockups
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Responsive Design
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Problem Solving
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</section>

