<html style="background-color: white">
<body id="blog" style="background-color: white">


  <div class="article">
    <div class="wrapper" style="background: url('http://res.cloudinary.com/x78163/image/upload/v1507905293/Ubiqum1-0_gm0r0i.jpg') no-repeat center center fixed;">
      <div class="wrapperText">
        <h1 id="blog">
          <mark>Week 2 of Ubiqum's Data Scientist Bootcamp (Barcelona)
          </h1>
          <h2 id="blog">
            <mark>by Joseph DiFrancesco</mark>
          </h2>
          <div id="accountDetail" class="accountInfo">
            <div class="header">
              <h2><mark>Lina Regental</mark></h2>
              <p><mark>Producer & Author</mark></p>
            </div>
            <div class="profilePicture"></div>
            <p class="profileText" id="blog">Chef, Community Volunteer, Conveyor of Messages, Electro Producer, Scapegoat. Is that a double rainbow? D:.</p>
            <button>Check me out ></button>
          </div>
        </div>
      </div>
      <!--The Text is generated with hipsum.co :) Check it out! -->
      <div class="articleText">
        <h4 class="introduction" id="blog">FINALLY IN THE GROOVE.  BUT IT CAN'T BE THAT EASY...THE CATALAN INDEPENDENCE MOVEMENT HITS A PEAK THIS WEEK.  BUT I FINALLY START TO LEARN SOME COOL NEW MACHINE LEARNING ALGORITHMS SUCH AS KNN AND SVM.  THESE CONCEPTS HAVE A TON OF POWER AND POTENTIAL...IT JUST TAKES SOME IMAGINATION.</h4>


        <div class="video-container">
          <iframe  height="315" width="560" src="//www.youtube.com/embed/_0VCrcvKleo" frameborder="0" allowfullscreen modestbranding="1" rel="0" showinfo="0" fs="0"></iframe>
        </div>


        <h2 id="blog">Monday</h2>
        <p id="blog">The modern warfighter has access to significantly more    </p>

        <h2 id="blog">Tuesday</h2>
        <p id="blog">enter text here   </p>
        <br>
        <p id="blog">enter text here   </p>



        <h2 id="blog">Wednesday </h2>
        <p id="blog">ems.  </p>



        <h2 id="blog">Thursday </h2>
        <p id="blog">functionality would be added as needed (keyboard, pointing devices, etc).   </p>


        <h2 id="blog">Friday</h2>
        <p id="blog">   </p>

        <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364268/1_k6mfcb.png" alt="" />



        <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364269/2_qfou0p.png" alt="" />



        <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505364266/3_vyhkgw.png" alt="" />




      </div>
    </div>

  </body>
  </html>
