<div id='mountain'>
  <div class='layer layer-1' data-depth='0.10' data-type='parallax'></div>
  <div class='layer layer-2' data-depth='0.20' data-type='parallax'></div>
  <div class='layer layer-3' data-depth='0.50' data-type='parallax'></div>
</div>
<div style="background-color:#555;">

    <div id="box-2" >

<h3 style="text-align: center; padding-top: 20vh; font-family: 'Roboto Mono', monospace; font-size: 6vw;font-weight: bolder;" >>Joseph DiFrancesco_</h3>
      <div class="scramble">
        <div class="text"></div>
      </div>
    </div>
  </div>
