<div id='hero'>

  <div class='layer-bg layer' data-depth='0.30' data-type='parallax'></div>

  <!-- <div class='layer-1 layer' data-depth='0.20' data-type='parallax'><div class="scramble">
        <div class="text"></div>
      </div></div> -->
      <div class='layer-2 layer' data-depth='0.70' data-type='parallax'></div>
      <div class='layer-3 layer' data-depth='0.80' data-type='parallax'><div class="scramble">
        <div class="text"></div>
      </div></div>
  <!-- <div class='layer-overlay layer' data-depth='0.85' data-type='parallax'></div>
  <div class='layer-4 layer' data-depth='1.00' data-type='parallax'></div> -->
</div>

<div id='hero-mobile' style=" height: 110%;
background-position: right;">

</div>













<div id="box-5" style="margin-top: -14%;">
  <div class="container" >
    <div class="row">

    <h3 style="text-align: center; font-family: 'Roboto Mono', monospace; font-size: 2.2em;font-weight: bolder; color: white;" >>Who Am I?</h3>
    <br>
    <br>
    <p style="    margin-left: 10%;
    margin-right: 10%;
    font-weight: 900;
    text-align: center;
    line-height: 2.3em;
    background-color: rgba(112, 128, 144, 0.41);
    border-radius: 1%; font-size: 71%;" >Good question.  I'm still figuring that out.  I served 10 years in the U.S. Army as an AH-64D pilot, Drone Company Commander and Army Diplomat.  I earned my MBA in combat zones and decided in 2017 that the Active Duty life was not for me.  I attended the Le Wagon Coding Bootcamp in Barcelona and am currently enrolled in a Machine Learning course through Ubiqum.  I currently work freelance as a Full Stack Web Developer and a consultant for a UAS consulting organization.  In my free time, I love to push my intellectual boundaries with inventions, programming challenges and research papers.  Take a look below to see some of my work!</p>
    <br><br>
      <div class="col-md-6" style="padding:20px;">

        <ul id="hexGrid">
          <li class="hex">
            <a class="hexIn" href="/aug">
              <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />

              <h1>Augmented Reality</h1>
              <p>A Hololens project for military command and control</p>
            </a>
          </li>
          <li class="hex">
            <a class="hexIn" href="#">
              <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
              <h1>Web Dev</h1>
              <p>Some amazing customer centric Web Apps</p>
            </a>
          </li>
          <li class="hex">
            <a class="hexIn" href="/aug">
              <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
              <h1>Patents</h1>
              <p>A networked unmanned flying air ambulance </p>
            </a>
          </li>
          <li class="hex">
            <a class="hexIn" href="#">
              <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt="" />
              <h1>Research</h1>
              <p>Some thought provoking policy white papers</p>
            </a>
          </li>

        </ul>
<div class="row" style="background-color: white;">
    <div class="col-md-3" style="height: 50%; color:black;">
      <i class="fa fa-code" aria-hidden="true">Hello?</i>



    </div>
  </div>

      </div>
<div class="row" style="background-color: white;">
    <div class="col-md-3" style="height: 50%; color:black;">
      <i class="fa fa-code" aria-hidden="true">Hello?</i>



    </div>
  </div>
    </div>


  </div>
</div>


<div class="container" style="background-color: white;">
  <div class="row">
    <div class="col-md-3" style="height: 50%; color:black;">
      <i class="fa fa-code" aria-hidden="true">Hello?</i>



    </div>
  </div>
</div>



