<body data-spy="scroll">

  <nav class="site-nav transition">
        <a class="nav-link smoothScroll" href="#about">ABOUT</a>
        <a class="nav-link smoothScroll" href="#services">Services</a>
        <a class="nav-logo smoothScroll" href="#home"><img src="assets/img/hipster_logo.png" height="50px"></a>
        <a class="nav-link smoothScroll" href="#projects">PROJECTS</a>
        <a class="nav-link smoothScroll" href="#contact">Contact</a>
   </nav>
   <body>

  <div class="container">
    <div class=bg1></div>
</div>
    <div class="container">
  <div class="bg2">
    <div class="scramble">
  <div class="text"></div>
</div>
  </div>
</div>
</body>
