<div id='hero'>

  <div class='layer-bg layer' data-depth='0.30' data-type='parallax'></div>

  <!-- <div class='layer-1 layer' data-depth='0.20' data-type='parallax'><div class="scramble">
        <div class="text"></div>
      </div></div> -->
      <div class='layer-2 layer' data-depth='0.70' data-type='parallax'></div>
      <div class='layer-3 layer' data-depth='0.80' data-type='parallax'><div class="scramble">
        <div class="text"></div>
      </div></div>
  <!-- <div class='layer-overlay layer' data-depth='0.85' data-type='parallax'></div>
  <div class='layer-4 layer' data-depth='1.00' data-type='parallax'></div> -->
</div>

</div>
<div id='hero-mobile' style=" height: 110%;
    background-position: right;"></div>

<div id="box-5" style="margin-top: -14%;">
  <div class="container" >
    <div class="row">

      <h3 style="text-align: center; font-family: 'Roboto Mono', monospace; font-size: 8vw;font-weight: bolder;" >>Projects_</h3>
      <div class="col-md-6" style="padding:20px;">

        <ul id="hexGrid">
  <li class="hex">
    <a class="hexIn" href="#">
      <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
      <h1>This is a title</h1>
      <p>Some sample text about the article this hexagon leads to</p>
    </a>
  </li>
  <li class="hex">
    <a class="hexIn" href="#">
      <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
      <h1>This is a title</h1>
      <p>Some sample text about the article this hexagon leads to</p>
    </a>
  </li>
  <li class="hex">
    <a class="hexIn" href="#">
      <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
      <h1>This is a title</h1>
      <p>Some sample text about the article this hexagon leads to</p>
    </a>
  </li>
  <li class="hex">
    <a class="hexIn" href="#">
      <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt="" />
      <h1>This is a title</h1>
      <p>Some sample text about the article this hexagon leads to</p>
    </a>
  </li>

</ul>


      </div>

    </div>  </div>
  </div>
  <div id="box-1">
    <div class="container" >
      <div class="row">

        <h3 style="text-align: center; padding-top: 13vh; font-family: 'Roboto Mono', monospace; font-size: 8vw;font-weight: bolder;" >>Projects_</h3>
        <div class="col-md-6" style="padding:20px;">



        </div>

      </div>  </div>
    </div>
    <div id="box-6">
      <div class="container" >
        <div class="row">

          <h3 style="text-align: center; padding-top: 13vh; font-family: 'Roboto Mono', monospace; font-size: 8vw;font-weight: bolder;" >>Projects_</h3>
          <div class="col-md-6" style="padding:20px;">




          </div>

        </div>  </div>
      </div>
