<link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
<div id='hero'>
  <div class='layer-bg layer' data-depth='0.30' data-type='parallax'></div>
  <!-- <div class='layer-1 layer' data-depth='0.20' data-type='parallax'><div class="scramble">
        <div class="text"></div>
      </div></div> -->
      <div class='layer-2 layer' data-depth='0.70' data-type='parallax'></div>
      <div class='layer-3 layer' data-depth='0.80' data-type='parallax'><div class="scramble">
        <div class="text"></div>
      </div></div>
  <!-- <div class='layer-overlay layer' data-depth='0.85' data-type='parallax'></div>
  <div class='layer-4 layer' data-depth='1.00' data-type='parallax'></div> -->
</div>
<div id='hero-mobile' style=" height: 110%;
background-position: right;">
<div class="scramble">
  <div class="text"></div>
</div>
</div>
<div class="col-md-6" style="padding:20px;background-color:white; text-align: center; position:relative;     margin-top: -15%;
margin-bottom: 14%;" >
<h1 style="
text-align: center; font-family: 'Roboto Mono', monospace; font-size: 2.2em;font-weight: bolder; color: black;">>Who Am I?_</h1>
<p style="    margin-left: 10%;
margin-right: 10%;
font-weight: 900;
color:black;
text-align: center;
line-height: 2.3em;
/*background-color: rgba(112, 128, 144, 0.41);*/
border-radius: 1%; font-size: .8em;">Good question.  I'm still figuring that out.  I served 10 years in the U.S. Army as an AH-64D pilot, Drone Company Commander and Army Diplomat.  I earned my MBA in combat zones and decided in 2017 that the Active Duty life was not for me.  I attended the Le Wagon Coding Bootcamp in Barcelona and am currently enrolled in a Machine Learning course through Ubiqum.  I currently work freelance as a Full Stack Web Developer and a consultant for a UAS consulting organization.  In my free time, I love to push my intellectual boundaries with inventions, programming challenges and research papers.  Take a look below to see some of my work!</p>
</div>
<div id="box-5" style="margin-top: -14%;">
  <div class="container" >
    <div class="row">

      <h3 style="text-align: left; font-family: 'Roboto Mono', monospace; font-size: 2.2em;font-weight: bolder; color: white; margin-left:3%;" >>Achievements_</h3>

<div class="carousel-wrapper">

  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>
<span id="item-4"></span>
<span id="item-5"></span>
<span id="item-6"></span>
<span id="item-7"></span>

  <div class="carousel-item item-1">

  <a class="arrow arrow-prev" href="#item-7"></a>
  <a class="arrow arrow-next" href="#item-2"></a>
    </div>

  <div class="carousel-item item-2">

    <a class="arrow arrow-prev" href="#item-1"></a>
    <a class="arrow arrow-next" href="#item-3"></a>
  </div>

  <div class="carousel-item item-3">
    <a class="arrow arrow-prev" href="#item-2"></a>
    <a class="arrow arrow-next" href="#item-4"></a>
  </div>
<div class="carousel-item item-4">
    <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-5"></a>
  </div>

  <div class="carousel-item item-5">
    <a class="arrow arrow-prev" href="#item-4"></a>
    <a class="arrow arrow-next" href="#item-6"></a>
  </div>

  <div class="carousel-item item-6">
    <a class="arrow arrow-prev" href="#item-5"></a>
    <a class="arrow arrow-next" href="#item-7"></a>
  </div>

<div class="carousel-item item-7">
    <a class="arrow arrow-prev" href="#item-6"></a>
    <a class="arrow arrow-next" href="#item-1"></a>
  </div>

</div>



    </div>
  </div>
</div>


<div class="col-md-6" style="padding:20px;background-color:white; text-align: center; position:relative;     margin-top: 40em;
margin-bottom: 14%;" >

        <h1 style="
        text-align: center; font-family: 'Roboto Mono', monospace; font-size: 2.2em;font-weight: bolder; color: black;">>Projects_</h1>
        <ul id="hexGrid">
           <li class="hex">
            <a class="hexIn" href="/aug">
              <img src="http://res.cloudinary.com/x78163/image/upload/v1506016639/Screenshot_from_2017-09-21_12-56-58_t4dj0v.png" alt="" />
              <h1>Hololens</h1>
              <p>A holographic military command post</p>
            </a>
          </li>
          <li class="hex">
            <a class="hexIn" href="/web">
              <img src="http://res.cloudinary.com/x78163/image/upload/v1505695620/coding_screen_fovo6t.jpg" alt="" />
              <h1>Web Dev</h1>
              <p>Some amazing customer centric Web Apps</p>
            </a>
          </li>
          <li class="hex">
            <a class="hexIn" href="/patent">
              <img src="http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_3_bvd0mt.jpg" alt="" />
              <h1>Patents</h1>
              <p>A networked unmanned flying air ambulance </p>
            </a>
          </li>
          <li class="hex">
            <a class="hexIn" href="#">
              <img src="http://res.cloudinary.com/x78163/image/upload/v1506018960/Screenshot_from_2017-09-21_12-59-14_mxdpve.png" alt="" />
              <h1>Research</h1>
              <p>Some thought provoking research papers</p>
            </a>
          </li>
        </ul>
      </div>



<div id="box-8" style="margin-top: -14%;">
  <div class="container" >
    <div class="row">
      <div class="col-md-3" style="height: 50%; color:black; ">
        <h3 style="text-align: left; font-family: 'Roboto Mono', monospace; font-size: 2.0em;font-weight: bolder; color: white; margin-left:3%;" >>How Can I Help?_</h3>
<!-- <p style="    margin-left: 5%%;
margin-right: 10%;
font-weight: 900;
color:width: ;;
text-align: center;
line-height: 2.3em;
/*background-color: rgba(112, 128, 144, 0.41);*/
border-radius: 1%; font-size: 1.2em;">I am always looking for my next challenge.  Here are some functional areas of expertise:</p> -->
<br>
<br>
<ul style="    color: white;
    text-align: left;
font-weight: bolder;
    font-size: 1em;
    ">
<li style="    color: white;
    text-align: left;
    margin-left: 17%;
    font-size: 1em;
    font-weight: bolder;"><i class="fa fa-id-badge" aria-hidden="true"></i></li>
  <li style="    color: white;
    text-align: left;
    margin-left: 17%;
    font-size: 1em;">-Web Application Development</li>
  <li style="    color: white;
    text-align: left;
    margin-left: 17%;
    font-size: 1em;">-UAS Development (design and construction)</li>
  <li style="    color: white;
    text-align: left;
    margin-left: 17%;
    font-size: 1em;">-Manned Aviation</li>
  <li style="    color: white;
    text-align: left;
    margin-left: 17%;
    font-size: 1em;">-Machine Learning</li>
  <li style="    color: white;
    text-align: left;
    margin-left: 17%;
    font-size: 1em;">-Augmented Reality</li>
  <li></li>
</ul>
<br>
<br>
<p style="    margin-left: 5%;
margin-right: 10%;
font-weight: 900;
color:white;
text-align: center;
line-height: 2.3em;
/*background-color: rgba(112, 128, 144, 0.41);*/
border-radius: 1%; font-size: 1.2em;">Contact me if I can help out!</p>

      </div>
    </div>
  </div>
</div>





