


  <div style="background-color:#555;">

    <div id="box-2" >

<h3 style="text-align: center; padding-top: 20vh; font-family: 'Roboto Mono', monospace; font-size: 6vw;font-weight: bolder;" >Web Portfolio_</h3>

    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-3" style="height: 50%; color">
<i class="fa fa-code" aria-hidden="true">Hello?</i>



    </div>
  </div>
</div>

    <div id="box-6">
      <div class="container" >
        <div class="row">

        <h3 style="text-align: center; padding-top: 13vh; font-family: 'Roboto Mono', monospace; font-size: 2rem;font-weight: bolder;" >>Projects_</h3>
          <div class="col-md-6" style="padding-left:10%; padding-top: 10%;">


            <h3 style="font-weight: bolder;">How are you?</h3>


          </div>

        </div>  </div>
      </div>


