<div class="page cover nature" style="background-image: url(http://res.cloudinary.com/x78163/image/upload/v1505506645/basrah_nights_tle60e.jpg)">
    <div class="title">
      <h1 style="font-family: 'Roboto Mono', monospace; padding-bottom: 19%;">> Projects--></h1>
      <div id="contactUs" style="background-color:black;">
  <div id="countrySelection">
    <div id="countrySelection-wrapper">
      <ul id="countrySelection-items" style="">
        <div id="countrySelector"></div>
        <li class="countrySelection-item active">
          <a href="/patent">UAS Air Ambulance</a>
        </li>
        <li class="countrySelection-item">
          <a href="/aug">Holographic Command Post</a>
        </li>
        <li class="countrySelection-item">
          <a href="#">Automatic Metal Detector</a>
        </li>
        <li class="countrySelection-item">
          <a href="#">Allergi</a>
        </li>
        <li class="countrySelection-item">
          <a href="#">MilBNB</a>
        </li>
        <li class="countrySelection-item">
          <a href="#">Army Logbook</a>
        </li>
        <li class="countrySelection-item">
          <a href="#">Plowshare</a>
        </li>
        <li class="countrySelection-item">
          <a href="#">Travel Bloodhound
            </a>
        </li>
        <li class="countrySelection-item">
          <a href="#">AI Web Dev with Watson</a>
        </li>
              </ul>
      <div class="countrySelection-paddles">
        <button class="countrySelection-paddle-left icon-chevronleft" aria-hidden="true"><
        </button>
        <button class="countrySelection-paddle-right icon-chevronright" aria-hidden="true">>
        </button>
      </div>
    </div>
  </div>

</div>
</div>

      </div>
    </div>
