
    <div id="stack1" class="card-container start">
        <section id="card1" class="card card1">
             <h1>Card 1</h1>
 <a href="#">
                <img src="http://www.placehold.it/500x200" />
            </a>

            <p>This was the first period where evidence of dinosaurs is present, though they were not there at the very beginning. It began right after the Permian mass extinction which wiped out 90% of all life and marks the beginning of the Mesozoic Era.</p>
        </section>
        <section id="card2" class="card card2">
             <h1>Card 2</h1>
 <a href="#">
                <img src="http://www.placehold.it/500x200" />
            </a>

            <p>This was the first period where evidence of dinosaurs is present, though they were not there at the very beginning. It began right after the Permian mass extinction which wiped out 90% of all life and marks the beginning of the Mesozoic Era.</p>
        </section>
        <section id="card3" class="card card3">
             <h1>Card 3</h1>
 <a href="#">
                <img src="http://www.placehold.it/500x200" />
            </a>

            <p>This was the first period where evidence of dinosaurs is present, though they were not there at the very beginning. It began right after the Permian mass extinction which wiped out 90% of all life and marks the beginning of the Mesozoic Era.</p>
        </section>
    </div>
