<html style="background-color: white">
<body id="blog" style="background-color: white">


<div class="article">
  <div class="wrapper" style="background: url('http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_3_bvd0mt.jpg') no-repeat bottom center fixed; background-position: bottom;">
    <div class="wrapperText">
      <h1 id="blog">
        <mark>Utility Patent Application for An Automated Flying Air Ambulance</mark>
      </h1>
      <h2 id="blog">
        <mark>by Joseph DiFrancesco</mark>
      </h2>
      <div id="accountDetail" class="accountInfo">
        <div class="header">
          <h2><mark>Joseph DiFrancesco</mark></h2>
          <p><mark>Web Developer & UAS Consultant</mark></p>
        </div>
        <div class="profilePicture"></div>
        <p class="profileText" id="blog">hey there</p>
        <button>Check me out ></button>
      </div>
    </div>
  </div>
  <!--The Text is generated with hipsum.co :) Check it out! -->
    <div class="articleText">
      <h4 class="introduction" id="blog">The present invention is a new unmanned/pilotless vertical air lift rescue and
MEDEVAC/Air Ambulance capable vehicle having a low profile that is configured to retrieve
injured individuals and transport those individuals to a treatment center.</h4>




<h2 id="blog">Introduction</h2>
      <p id="blog">Imagine walking on patrol in a dusty Afghanistan valley when fire erupts from boulders to your flanks.  Your squad suppresses the enemy fire and the CAS vaporizes the threat with a hellfire missile.  You look behind you and find your grenadier clutching his bleeding leg. You grab your radio hand mike and immediately call in medevac.  You look back a mile at where your MRAPs are parked, watching a plume of dust rising.
<br>
      Within a few seconds, you hear a whine and a small aircraft approaches your position rapidly.  It grows in size, and flares dramatically just before it reaches you.  The 15 foot machine quickly settles in a hover, touching down on the rocky ground.  The rotors stop turning and you hear the whine of two turbines as the dust settles.  A robotic voice shouts "System Safe!  Load Casualty!" You back sling your rifle and help carry your grenadier over to the machine.
<br>
      The canopy opens as you approach and a stretcher extends.  The control panel illuminates and a simple animation tells you to strap the casualty to the stretcher and how to apply the bio monitors.  When you press the load patient button, the stretcher retracts into the machine.  The system cycles through preflight and the launch button illuminates.  You hit it with your fist and the machine voice announces "clear rotors, spooling in 5, 4, 3, 2, 1"
<br>
      As you walk clear of the aircraft, the high pitch whine of electric motors fills the air.  As the pitch builds, the machine launches into the sky, arcing off into the distance.  You continue your patrol, knowing your grenadier will be with a doctor in eight minutes, from radio call to hospital in under 15 minutes.  </p>

<h2 id="blog">The Idea</h2>
      <p id="blog"> The above concept is an absolute posibility, and I intend to make it so.  I remember watching a MEDEVAC extraction in Afghanistan from a Tactical Operations Center UAS feed.  The pilots hovered over a saddle, tracer fire tickling their belly as they tried to extract the wounded soldier on the ground.  I remember thinking to myself "there has to be a better way...why risk three lives for one?" </p>
<br>
 <p id="blog"> I toyed with the idea for a while and finally decided to put it to paper and patent it.  I wanted to build an unmanned system capable of evacuating a patient to the nearest treatment facility with minimum human intervention.  I wanted to design a networked system capable of making intelligent service decisions and route vehicles and patients to the appropriate locations.  Finally, I wanted a system which could be used remotely as a low cost air ambulance for rural areas where such service is cost or time prohibitive.  I got to work with a patent attorney and this is what I built! </p>
<br>
<!-- front sheet of patent -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_4_vwnk64.jpg" alt="" />
<br>

<h2 id="blog">Embodiment of the Idea</h2>

<p id="blog">  I imagined an enclosed stretcher with a power supply and lift motors capable of carrying a patient from the point of injury to a treatment facility.  In one embodiment, twin turbogenerators power four lift motors and an auxiliary battery pack to provide lift capabilities.  The auxiliary pack augments the turbine power output to provide instant power demands which might not be met by an accelerating turbine.</p>

<!-- patent isometric -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_3_bvd0mt.jpg" alt="" />

<p id="blog"> The patient lies on a stretcher, strapped in place to protect them during flight.  A suite of biosensors are applied to their body, along with additional monitoring devices or treatment devices (AED, etc.).  As more automated treatment devices emerge, these would be incorporated into the vehicle.  The patient's vitals are monitored via a datalink by the treatment facility, allowing the providers to thoroughly assess the patient prior to admission.   </p>

<!-- tray extended with patient -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505693333/patent_6_f2ofor.jpg" alt="" />

<p id="blog"> The aircraft would use a triple redundant autopilot to navigate to the location.  It would automatically plot the flight path using the latest map data and use machine vision to clear the landing site.  It maintains provisions for external operators to change the flight path or over-ride the navigation (in case the patient must be diverted to another facility). </p>

<!-- extended -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_1_hjkgcd.jpg" alt="" />

<p id="blog">  It communicates over whatever communication infrastructure suits the operator's need.  Cellular networks for civil use, military TCDL for combat roles or SATCOM for remote site employment.  The system services subscribers, or system users through the system network.  Just like Uber, a subscriber can request a vehicle dispatched.  The system prioritizes the requests based upon urgency, distance and other factors.  It then identifies the closest aircraft and passes the destination to the flight computer.  On consent from a human supervisor, the aircraft conducts its preflight and launches towards the point of injury.</p>

<!-- retracted -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_2_omayih.jpg" alt="" />

<p id="blog"> Upon returning to the treatment facility, the aircraft presents the patient to the care team.  When taken, the aircraft then returns to the launch site for refueling, maintenance and resupply.  Once complete, the aircraft is released back into the available pool for the system to dispatch again as needed.</p>

<h2 id="blog">Building it!</h2>
<p id="blog"> Well, you can have an idea on paper....but it is way more fun to have an idea in the flesh.  Granted, I am no Daddy Warbucks, so I had to keep this on a shoestring budget.  Also, my neighbors would have lost their mind if I built a twin turbine drone in my garage.  </p>
<br>

<p id="blog"> I started by identifying some of the key components.  I found the Hololens system to be a great way to prototype.  While the videos show it finicky, it was actually quite nice while modeling to have reference graphics available at all times. </p>
<br>
<div class="video-container">
<iframe  height="315" width="560" src="//www.youtube.com/embed/VcCChoKaGuM" frameborder="0" allowfullscreen modestbranding="1" rel="0" showinfo="0" fs="0"></iframe>
</div>
<br>
<p id="blog"> After identifying the features, I built a parts list and got to ordering.  The components trickled in and started to take over my living room.  I went to Home Depot and grabbed some insulation foam and soon got to work making the body of the aircraft. </p>


<br>
<div class="video-container">
<iframe  height="315" width="560" src="//www.youtube.com/embed/JFjK45DZaPQ" frameborder="0" allowfullscreen modestbranding="1" rel="0" showinfo="0" fs="0"></iframe>
</div>
<br>




<p id="blog"> At first, I thought I would fiberglass the mold.  Soooo, I layed up the glass and...the foam melted.  Yup, non polar foam and non polar solvent equals goo.  I tried again, but this time I used epoxy.  Not satisfied, i resorted to fiberglass bondo.  Voila!  </p>

<!-- foam -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505693332/patent_7_a53wik.jpg" alt="" />


<p id="blog"> Next came the dreaded part of finding a suitable power source and drive system.  With a good baseline weight, I used an online performance calculator to help me figure out the important values.  Take a look at the current requirements!  It could power a house (maybe a small one).   </p>
<!-- range chart -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505695531/Patent_12_xxbtc3.jpg" alt="" />



<!-- performance -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505695531/Patent_13_shbe4a.jpg" alt="" />

<p id="blog"> I went through three different motors.  I needed very low KV values since I wanted efficiency and torque versus speed.  The behemoths would permit full payload in an X8 configuration.  I built and tested only an X4 configuration with an empty payload, just to prove the concept. </p>

<!-- motor -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505695531/Patent_14_zgmy55.jpg" alt="" />


<p id="blog"> The rotors were massive carbon fiber creations I found on Hobby King.  Coupled with the motors, they could lift almost 20 lbs. </p>
<!-- blade -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505695531/Patent_15_saxeox.jpg" alt="" />

<p id="blog"> As the prototype developed, it grew landing gear, antenna, power packs and an ardupilot autopilot. </p>

<br>

<div class="video-container">
<iframe  height="315" width="560" src="//www.youtube.com/embed/1-71jxS82Bk" frameborder="0" allowfullscreen modestbranding="1" rel="0" showinfo="0" fs="0"></iframe>
</div>
<br>
<p id="blog"> Unfortunately, during flight testing, the bargain basement ESCs I procured experienced an overcurrent event and got a little smoky.  Further flight testing is on hold for the time being. </p>

<!-- drone on car -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505694380/Patent_10_pqsdmy.jpg" alt="" />

<h2 id="blog">What is Next?</h2>
<p id="blog"> Well, that is a good question!  I am waiting on my first office call with the USPTO.  Hopefully, in the mean time, Maybe I'll find some people interested in taking this thing from prototype to market.  I'd love to see this thing in real life saving lives! </p>


<!-- assembled drone ready  to fly-->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505694381/Patent_11_ay5qb5.jpg" alt="" />

  </div>
</div>

</body>
</html>
