<html style="background-color: white">
<body id="blog" style="background-color: white">


<div class="article">
  <div class="wrapper" style="background: url('http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_3_bvd0mt.jpg') no-repeat bottom center fixed; background-position: bottom;">
    <div class="wrapperText">
      <h1 id="blog">
        <mark>Utility Patent Application for An Automated Flying Air Ambulance</mark>
      </h1>
      <h2 id="blog">
        <mark>by Joseph DiFrancesco</mark>
      </h2>
      <div id="accountDetail" class="accountInfo">
        <div class="header">
          <h2><mark>Joseph DiFrancesco</mark></h2>
          <p><mark>Web Developer & UAS Consultant</mark></p>
        </div>
        <div class="profilePicture"></div>
        <p class="profileText" id="blog">hey there</p>
        <button>Check me out ></button>
      </div>
    </div>
  </div>
  <!--The Text is generated with hipsum.co :) Check it out! -->
    <div class="articleText">
      <h4 class="introduction" id="blog">The present invention is a new unmanned/pilotless vertical air lift rescue and
MEDEVAC/Air Ambulance capable vehicle having a low profile that is configured to retrieve
injured individuals and transport those individuals to a treatment center.</h4>


<div class="video-container">
<iframe  height="315" width="560" src="//www.youtube.com/embed/1-71jxS82Bk" frameborder="0" allowfullscreen modestbranding="1" rel="0" showinfo="0" fs="0"></iframe>
</div>

<div class="video-container">
<iframe  height="315" width="560" src="//www.youtube.com/embed/JFjK45DZaPQ" frameborder="0" allowfullscreen modestbranding="1" rel="0" showinfo="0" fs="0"></iframe>
</div>



<div class="video-container">
<iframe  height="315" width="560" src="//www.youtube.com/embed/VcCChoKaGuM" frameborder="0" allowfullscreen modestbranding="1" rel="0" showinfo="0" fs="0"></iframe>
</div>

<h2 id="blog">Introduction</h2>
      <p id="blog">The battlefield today is unrecognizable from those of merely a half century ago.  Information is
the true weapon of the modern era.  The force which leverages the information and can transform the
petabytes of raw data into useful information wins the engagement every time.  Our weapons become
smarter and smarter, but they need the proper information to keep us out of harms way and destroy
the enemy.  As the United States is the leader in technological innovation in the world, it should be
fitting that we become the first to adopt new data management systems and display methodologies to
provide our Soldiers an unparalleled advantage in war. </p>



<!-- extended -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_1_hjkgcd.jpg" alt="" />
<!-- retracted -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_2_omayih.jpg" alt="" />

 <!-- front sheet of patent -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_4_vwnk64.jpg" alt="" />
<!-- foam -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505693332/patent_7_a53wik.jpg" alt="" />
<!-- drawing and mockup -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505693332/patent_9_vartfp.jpg" alt="" />
<!-- tray extended with patient -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505693333/patent_6_f2ofor.jpg" alt="" />
<!-- skeleton top -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505693334/patent_8_zmbuew.jpg" alt="" />
<!-- drone on car -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505694380/Patent_10_pqsdmy.jpg" alt="" />
<!-- assembled drone ready  to fly-->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505694381/Patent_11_ay5qb5.jpg" alt="" />
<!-- motor -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505695531/Patent_14_zgmy55.jpg" alt="" />
<!-- range chart -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505695531/Patent_12_xxbtc3.jpg" alt="" />

<!-- blade -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505695531/Patent_15_saxeox.jpg" alt="" />

<!-- performance -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505695531/Patent_13_shbe4a.jpg" alt="" />

<!-- patent isometric -->
 <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1505691387/Patent_3_bvd0mt.jpg" alt="" />




        <h2 id="blog">Conclusion</h2>
      <p id="blog">While the Virtual TOC concept requires additional hardware development for full
implementation, limited functionality exists with just the Hololens system.  Even without an established
datalink, the Hololens platform permits an amazingly intuitive method of displaying traditionally
abstract data rapidly to warfighters.  In the snapshots above, a simulation of the Virtual TOC has been
written for proof of concept.  Even with demo level functionality, the holographic environment displays
information so intuitively users automatically begin navigating the system with less than 10 seconds of
orientation to the Hololens platform.  By developing a modern front end design for data management
for the warfighter, we can shorten that warfighter’s OODA‐Loop processing pathway, and allow our
Soldiers to think orders of magnitude faster than the enemy.   </p>


  </div>
</div>

</body>
</html>
