
<div class="containers" style="height: fit-content;background-color: #191919; padding-left: 10%;
padding-right: 10%;
padding-top: 6em;
">
<div class="row">
 <div class="col-sm-6">
  <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>My Travels_</h2>
  <iframe style="    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 80vw;
    height: 25em;" src="https://www.google.com/maps/d/u/0/embed?mid=1W7LeSQEw1jzgkjrE8NP7XyC9cNE&z=3" width="640" height="480"></iframe>

    <p style=" text-indent: 50px;color: white; text-align: left; margin-top:5%; margin-bottom: 10%;">Welcome to my travel blog.  It is currently a work in progress, but I hope to have some awesome reviews of some of the world's wonders!</p>

</div>
</div>
</div>

