<html style="background-color: white">
<body id="blog" style="background-color: white">


  <div class="article">
    <div class="wrapper" style="background: url('http://res.cloudinary.com/x78163/image/upload/v1507905293/Ubiqum1-0_gm0r0i.jpg') no-repeat center center fixed;">
      <div class="wrapperText">
        <h1 id="blog">
          <mark>Week 4 of Ubiqum's Data Scientist Bootcamp (Barcelona)
          </h1>
          <h2 id="blog">
            <mark>by Joseph DiFrancesco</mark>
          </h2>
          <div id="accountDetail" class="accountInfo">
            <div class="header">
              <h2><mark>Lina Regental</mark></h2>
              <p><mark>Producer & Author</mark></p>
            </div>
            <div class="profilePicture"></div>
            <p class="profileText" id="blog">Chef, Community Volunteer, Conveyor of Messages, Electro Producer, Scapegoat. Is that a double rainbow? D:.</p>
            <button>Check me out ></button>
          </div>
        </div>
      </div>
      <!--The Text is generated with hipsum.co :) Check it out! -->
      <div class="articleText">
        <h4 class="introduction" id="blog">TEXT TEXT TEXT</h4>

          <br>
          <br>

        <h2 id="blog">Monday 23 OCT 17</h2>
          <br>
        <p id="blog">
        </p>

          <br>

        <p id="blog">
        </p>

          <br>
          <br>

        <h2 id="blog">Tuesday 24 OCT 17</h2>

          <br>

        <p id="blog">
        Text
        </p>

          <br>

        <p id="blog">
        Text
        </p>

          <br>
          <br>

        <h2 id="blog">Wednesday 25 OCT 17</h2>

          <br>

        <p id="blog">
        Text
        </p>

          <br>

        <p id="blog">
        Text
        </p>

          <br>
          <br>

        <h2 id="blog">Thursday 26 OCT 17</h2>

          <br>

        <p id="blog">
        Text
        </p>

          <br>

        <p id="blog">
        Text
        </p>

          <br>
          <br>

        <h2 id="blog">Friday 27 OCT 17</h2>

          <br>

        <p id="blog">
        Text
        </p>

          <br>

        <p id="blog">
        Text
        </p>

          <br>
          <br>



        <img class="articleImage" src="
        http://res.cloudinary.com/x78163/image/upload/v1507905110/ubiqum_1-1_fonukp.jpg" alt="" />

        <br>

        <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1507905110/ubiqum_1-2_kipsae.jpg" alt="" />









        <a href="/ubiqum3" style="text-align: center; color:blue;     font-size: 1.3em;
        font-family: ubuntu;
        font-weight: bolder;">Week 2!</a>

      </div>
    </div>

  </body>
  </html>
