<html style="background-color: white">
<body id="blog" style="background-color: white">


  <div class="article">
    <div class="wrapper" style="background: url('http://res.cloudinary.com/x78163/image/upload/v1507905293/Ubiqum1-0_gm0r0i.jpg') no-repeat center center fixed;">
      <div class="wrapperText">
        <h1 id="blog">
          <mark>Week 1 of Ubiqum's Data Scientist Bootcamp (Barcelona)
          </h1>
          <h2 id="blog">
            <mark>by Joseph DiFrancesco</mark>
          </h2>
          <div id="accountDetail" class="accountInfo">
            <div class="header">
              <h2><mark>Lina Regental</mark></h2>
              <p><mark>Producer & Author</mark></p>
            </div>
            <div class="profilePicture"></div>
            <p class="profileText" id="blog">Chef, Community Volunteer, Conveyor of Messages, Electro Producer, Scapegoat. Is that a double rainbow? D:.</p>
            <button>Check me out ></button>
          </div>
        </div>
      </div>
      <!--The Text is generated with hipsum.co :) Check it out! -->
      <div class="articleText">
        <h4 class="introduction" id="blog">AHHH THE FIRST WEEK.  I FLEW OUT ON SUNDAY 1 OCTOBER ON A BUDGET TRANSATLANTIC FLIGHT (LEVEL).  WHILE I WAS FLYING OUT, I DECIDED TO DOCUMENT MY JOURNEY THROUGH THE UBIQUM EXPERIENCE IN MY PURSUIT FOR MACHINE LEARNING.</h4>




        <h2 id="blog">Somewhere over the Atlantic....</h2>
        <br>
        <p id="blog">Hi there! My name is Joe, and I am currently sitting on a plane flying to Barcelona, ES to attend the
Ubiqum Data Scientist/Machine Learning course. I am a former Army Captain (Pilot, Commander and
FAO) who transitioned out about 5 months ago. This past May, I attended a 9 week Web Development
Boot camp with Le Wagon in Barcelona and got hooked on the bootcamp concept.</p>
<br>
        <p id="blog">So, why the bootcamp?  For me, the term bootcamp is less a tongue in cheek comment about intensity but more a description of a learning process I am used to.  The standard college model of education builds a generalist.  A student enrolled in college takes a handful of different courses, none of which have any guarantees of complementing the others in any meaningful way.  For instance, my constitutional law class did nothing to contextualize my organic chemistry class topics.  I am very glad I took both, but I am not an expert in constitutional law, nor organic chemistry.  This is the state of a college education today.  I am not disparaging it, as I know my extremely broad education helped me become the generalist and problem solver I am today.
</p>
<br>

        <p id="blog">This changed when I joined the Army.  Ironically, Army bootcamp mirrored the college educational experience more than the coding bootcamp.  Army bootcamp focused on indoctrinating me on several various disciplines simultaneously.  It was the educational techniques after basic training that proved valuable to me and best represent the coding bootcamp mentality.  I attended flight school to fly the Army’s AH-64D Longbow Apache.  This was the first time in my life where I ate, slept, breathed and thought about a subject all the time.  The intense curriculum always came back to flying and the aviation mission.  This style of instruction resonated greatly with me.  I couldn’t make mental excuses for poor performance, or hope that other classes would carry me through, or choose an easier subject.  It forced me to confront the immediate task, focus completely on it and solve it.  My subsequent educational opportunities in the military were very similar.  They focused on one subject, and you practiced that subject until you were truly comfortable with it.</p>
        <br>

        <p id="blog">This is what a coding bootcamp is all about.  Yes, I could go try to get a degree in computer science or mathematics, but it doesn’t match my optimized learning style.  Some people look at the bootcamp as basically a quick fix for a problem.  If they just play montage music, magically the 9 weeks will fly by and bam…they are now an expert.  Nope.  It is hours of laborious work, frustrating and discouraging.  You get zero sleep, shower every other day, eat whatever is being sold at 1 AM and have a heart murmur from the caffeine intake.  Is it because you are woken up and forced to work?  Nope.  It is because you have the inner drive to figure out the problem.  I could have gone to sleep at 8 pm every night, relaxed in class and enjoyed my time in Barcelona.  That is why most coding bootcamps have a pre-course.  The pre-course tests everyone to make sure they have the appropriate drive.
</p>
<br>
        <p id="blog">So, a veteran of one bootcamp, I am returning for my second.  Why Data Science?  Well, I’ve always had fun with large data sets and enjoyed statistics in general.  For me, discovering the truth is a very noble and worthy pursuit.  I conducted numerous aircraft crash investigations and looked at days of black box data.  My favorite aspects of those intellectual puzzles were the ‘ah ha!’ moments where I found the one number which signified the start of the accident cascade.  From there, I could see the accident in the code, like the characters from the Matrix.  I also earned my MBA while in the military, and many of my research papers related to how companies could manipulate large data sets in order to make intelligent business decisions.  So, I guess the whole data scientist thing was basically a foregone conclusion for me.  I chose Ubiqum because they had an interesting curriculum.  They focused on building DS consultants with a business mindset.  Being a DS is great…but if it doesn’t have any monetary value to anyone, it can’t be more than just a hobby. Like a bacteria collecting plasmids, I know this skillset will be valuable to me in the job hunt early next year.</p>
<br><br>
        <h2 id="blog">Monday 2 OCT 17</h2>
        <br>
        <p id="blog">I am still flying....Someone needs to feed the hampsters in the engine nacelle!</p>
<br><br>
        <h2 id="blog">Tuesday 3 OCT 17</h2>
        <br>
        <p id="blog"> I arrived in BCN the night before to very little drama.  I coordinated with the instructors to get a read ahead and brief on what I missed during the day.  I got up to go to class and found out class was cancelled due to the General Strike of the Catalans.  Woo hoo!  Time to settle the apartment and get ready for Wednesday!</p>


<br><br>

        <h2 id="blog">Wednesday 4 OCT 17</h2>
        <br>
        <p id="blog">My first real day of class.  The Ubiqum method is effectively a Socratic Method.  The expectation is you study the material on your own and ask questions to the teachers about anything you don’t understand.  There is a pretty robust curriculum designed to walk you through the process, and the teachers are there to get you out of binds.  That said, the onboarding was effectively non-existent.  I showed up in class, twiddling my thumbs, expecting a lecture or at least a sync meeting first thing in the morning.  Instead, everyone just started working immediately.  The girl to my left saw my confusion and gave me a brief rundown on what was going on.  I checked in with the teachers when they arrived and basically got the same information.
 </p>
<br>
        <p id="blog">The first task was to download RapidMiner and work through the tutorials.  The RapidMiner suite reminds me of the flowstone coding suite or the Mindstorms programming language.  It had modules that you drop into a workspace and connect up.  Each  part has at least an input and an output.   </p>
        <br>
        <p id="blog">Then I dug into the meat of the assignment.  We were given a block of data in a CSV file from a fictional CEO.  The CEO had several questions about trends the data could elucidate.  For the remainder of the day, I went through the self taught lesson and ran the data through several models in RapidMiner.  I used Random Forest, Gain Boosted, ID3 (which made me convert the numerical values to another value) and a generic Tree model.  While I am still kind of on the fence about the next steps, I developed my research questions and then compared the Kappa and Accuracy values to select the best model.  Unfortunately, at the end of the day, I realized that some of the Kappa and Accuracy values changed in the models based upon the number of trees.  So, I had to bracket in the Gain Boosted model to find the optimum number of trees (6).  I’ll have to go through the other models tomorrow.   </p>
        <br>

        <img class="articleImage" src="
http://res.cloudinary.com/x78163/image/upload/v1507905110/ubiqum_1-1_fonukp.jpg" alt="" />
<br>

        <p id="blog">The jury is still out as to whether this is a difficult course or not.  Considering I got 3 day’s worth of work done in a day (or so I think), I am reticent to say it is super difficult.  However, I am definitely not sure if I am doing this correctly.  I plan on sitting down with a teacher tomorrow to go over my plan of attack and make sure I am not missing something huge.</p>

<br><br>

        <h2 id="blog">Thursday 5 OCT 17 </h2>
        <br>
        <p id="blog">All right!  Today was kind of the wrap up day.  I started to meet some people in class.  I think everyone is a little shy/shellshocked from the previous couple days.  One girl is from Japan and traded gas futures for Qatar’s gas conglomerate.  She is also one of the only people I know who went to Syria for fun.  I also met another student who was in his early 40’s, looking to change his career.  He is a native Catalan, so it will be interesting to discuss the referendum with him in the future.  From talking with the others, it seems like everyone comes from different walks of life.   </p>
        <br>
 <p id="blog">Today I focused on fleshing out the details of the report due on Friday.  There were some specifics I missed the day prior.  Im realized it is pretty simple to tear through the assignment and get the basic information, but if you read through all of the resources, watch all of the videos and really answer all of the thought questions, you will barely have enough time to complete the assignment.  It is more like an onion, you can peel off as many layers as you can handle.
   </p>
        <br>
         <p id="blog">Today, I continued with the ID3 model.  I asked about what the tie breaker would be if Kappa values were the same for two different models.  The answer was a: it depends.  If one had a better accuracy than the other (significantly) and the data fit the attribute you are looking for, then maybe the lower Kappa is better.  I specifically asked because my Kappas were .434 and .433 with a CI of +/- .004.  Drawing out a box and whiskers style diagram for each, the teacher showed me they had significant overlap with the CI.  Because of this, they could effectively be treated as the same value.  This meant the tie breaker went to the model with the highest accuracy (ID3).   </p>
        <br>
        <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1507905110/ubiqum_1-2_kipsae.jpg" alt="" />
<br>
         <p id="blog">I started manipulating charts in RapidMiner to find the best way of describing the questions to the client in the report. In discussions with one of my classmates, we went back and forth on whether to include the decision tree in the report or not.  While a useful tool for us, it seems irrelevant for the client…basically just technobabble.  So, I made a personal executive decision to leave it out of my report.  Also, looking at the data, I noticed that there was an outlier pertaining to in store versus online sales.  Including this outlier skewed the conclusion significantly.  This outlier had to be controlled, and I wrote a filter to remove the offending data.  Running the complier once again…and bam!  No bad data!!  Woo Hoo!
 </p>
        <br>
         <p id="blog">Tomorrow I’m going to finish up the report and play around with dataminer.  I think I’ll also walk around the classroom and try to be social…even if it hurts!</p>
        <br>
<br>
        <h2 id="blog">Friday 6 OCT 17</h2>
        <br>
        <p id="blog">  So, last day of the first week!  I found a very useful reference this morning.  Rapidminer has an excellent set of tutorial videos.  I posted it to Piazza (our classroom app) for everyone else to see.  I spent the morning compiling charts for my report.  I worked off of One Note so all my classmates could see what I was thinking and sharp shoot anything I might be doing wrong.  </p>
<br>
  <p id="blog">   For our morning standup, we did a ‘round the horn’ style of questions.  I mentioned how my model for another attribute generated a 0 kappa value but a decent accuracy value.  The gist of the explanation was that sometimes there is just no correlation between different attributes in the data.  I soon realized that this dataset was selected as a learning tool (Duh).  Basically, it represented some of the major learning objectives and statistical events we need to be able to recognize: outliers, clean data sets, filtering and no correlation.
 </p>
<br>
      <p id="blog"> After the morning standup, I wrote a short 2 paragraph blurb in my report, basically stating that the other attribute had zero correlation to the other data.  After that, I did some housekeeping in the writeup, packaged it in a .rar file and submitted it.  It was just after lunch, and I was technically done for the day.  I thought about leaving until someone said something out loud to no one in particular: “what is the ID3 model?”  Wow, good question.  In fact, what was Random Forest for that matter?  I realized I committed a cardinal sin…I used a tool without knowing what it did or how it worked.  I spent the next few hours of class researching each model I used until I felt comfortable enough to summarize how it worked.  At 1330, the teachers brought in some pizza, and we had a mini social hour.  The room was so small and loud, I could barely hear myself think!    </p>
<br>
  <p id="blog">  After, I went back to my computer and kept watching videos on the subjects we covered until closing time.  That about wrapped it up for my first week of the Ubiqum Data Scientist and Machine Learning course.  This weekend I intend to do some additional reading, work on some outside projects and generally get settled here in Barcelona.  See you next week! </p>
<br>








<a href="/ubiqum2" style="text-align: center; color:blue;     font-size: 1.3em;
    font-family: ubuntu;
    font-weight: bolder;">Week 2!</a>

      </div>
    </div>

  </body>
  </html>
