<html style="background-color: white">
<body id="blog" style="background-color: white">


  <div class="article">
    <div class="wrapper" style="background: url('http://res.cloudinary.com/x78163/image/upload/v1507905293/Ubiqum1-0_gm0r0i.jpg') no-repeat center center fixed;">
      <div class="wrapperText">
        <h1 id="blog">
          <mark>Week 3 of Ubiqum's Data Scientist Bootcamp (Barcelona)
          </h1>
          <h2 id="blog">
            <mark>by Joseph DiFrancesco</mark>
          </h2>
          <div id="accountDetail" class="accountInfo">
            <div class="header">
              <h2><mark>Lina Regental</mark></h2>
              <p><mark>Producer & Author</mark></p>
            </div>
            <div class="profilePicture"></div>
            <p class="profileText" id="blog">Chef, Community Volunteer, Conveyor of Messages, Electro Producer, Scapegoat. Is that a double rainbow? D:.</p>
            <button>Check me out ></button>
          </div>
        </div>
      </div>
      <!--The Text is generated with hipsum.co :) Check it out! -->
      <div class="articleText">
        <h4 class="introduction" id="blog">TEXT TEXT TEXT</h4>

          <br>
          <br>

        <h2 id="blog">Monday 16 OCT 17</h2>
          <br>
        <p id="blog">
        After a great weekend, I was ready to get back into the classwork.  I started the lesson plan today, expecting to tear apart another dataset.  Instead, we were assigned to compile the reports we generated into a presentation.  I was slightly disappointed, as presenting is basically all I did in the Army.  However, I can make lemonade out of lemons, so I think I will try something different.
        </p>

          <br>

        <p id="blog">
        When someone delivers a presentation to me (class, briefing, etc), I instinctively glance at the bottom left side of the screen to see how many slides are there before it goes full screen.  When I see the standard Microsoft powerpoint templates and the same old tired clip art, my brain goes into hibernation.  I have been Power Pointed to death.  So, I had an idea.
        </p>
         <br>
        <p id="blog">
        Presentations need to gain the attention of the audience.  Without audience buy in, most of the information fades away.  The lesson today focused on how an effective data analyst is a good story teller.  I echo this sentiment.  We have an entire industry and favorite past time dedicated to making and listening to stories.  Why isn’t this something we do in presentations?  So, I’ve decided to try to bridge that gap in a unique way.  I am going to present using One Note in a comic strip fashion.
        </p>
         <br>
        <p id="blog">
        I know, it sounds weird, and maybe it is a bad idea.  But I have carte blanche to try it now.  Basically, my presentation will be a choose your own adventure collaborative presentation.  Data is presented in several different ways, from abstract numbers to very visual cartoons.  As the briefing progresses, audience feedback will generate how the subsequent topics are displayed.  Additionally, this is an open document, so audience members are encouraged to participate (highlight, point out things, make notes).  My goal is to make the presentation live on well past the physical delivery.
        </p>
         <br>
          <img class="articleImage" src="
        http://res.cloudinary.com/x78163/image/upload/v1508246092/week_3_graphic_1_eldqhc.jpg" alt="" />

        <br>
        <p id="blog">
        So, I am busy at work today distilling the essays into an infographic interactive presentation.  Thank goodness for the Surface Pro!

        </p>

          <br>
          <br>

        <h2 id="blog">Tuesday 17 OCT 17</h2>

          <br>

        <p id="blog">
        Text
        </p>

          <br>

        <p id="blog">
        Text
        </p>

          <br>
          <br>

        <h2 id="blog">Wednesday 18 OCT 17</h2>

          <br>

        <p id="blog">
        Text
        </p>

          <br>

        <p id="blog">
        Text
        </p>

          <br>
          <br>

        <h2 id="blog">Thursday 19 OCT 17</h2>

          <br>

        <p id="blog">
        Text
        </p>

          <br>

        <p id="blog">
        Text
        </p>

          <br>
          <br>

        <h2 id="blog">Friday 20 OCT 17</h2>

          <br>

        <p id="blog">
        Text
        </p>

          <br>

        <p id="blog">
        Text
        </p>

          <br>
          <br>



        <img class="articleImage" src="
        http://res.cloudinary.com/x78163/image/upload/v1508246092/week_3_graphic_1_eldqhc.jpg" alt="" />

        <br>

        <img class="articleImage" src="http://res.cloudinary.com/x78163/image/upload/v1507905110/ubiqum_1-2_kipsae.jpg" alt="" />









        <a href="/ubiqum4" style="text-align: center; color:blue;     font-size: 1.3em;
        font-family: ubuntu;
        font-weight: bolder;">Week 4!</a>

      </div>
    </div>

  </body>
  </html>
