

  <div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505695620/coding_screen_fovo6t.jpg);background-size: cover;height: 100%;     background-position: center;">

    <div class="row">
     <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
    font-size: 2.4em; font-weight:900;">Web Development</h2>
      <p>How I can help you bring your vision to the web</p>
    </div>


    </div>
  </div>


<div class="containers" style="height: 100%;background-color: #14141D;">
    <div class="row">
     <div class="col-sm-6">
      <h2 style="margin-top: 0%;">hello</h2>
      <p>text text</p>

<div class="carousel-wrapper">

  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>
<span id="item-4"></span>
<span id="item-5"></span>
<span id="item-6"></span>
<span id="item-7"></span>

  <div class="carousel-item item-1">

  <a class="arrow arrow-prev" href="#item-7"></a>
  <a class="arrow arrow-next" href="#item-2"></a>
    </div>

  <div class="carousel-item item-2">

    <a class="arrow arrow-prev" href="#item-1"></a>
    <a class="arrow arrow-next" href="#item-3"></a>
  </div>

  <div class="carousel-item item-3">
    <a class="arrow arrow-prev" href="#item-2"></a>
    <a class="arrow arrow-next" href="#item-4"></a>
  </div>
<div class="carousel-item item-4">
    <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-5"></a>
  </div>

  <div class="carousel-item item-5">
    <a class="arrow arrow-prev" href="#item-4"></a>
    <a class="arrow arrow-next" href="#item-6"></a>
  </div>

  <div class="carousel-item item-6">
    <a class="arrow arrow-prev" href="#item-5"></a>
    <a class="arrow arrow-next" href="#item-7"></a>
  </div>

<div class="carousel-item item-7">
    <a class="arrow arrow-prev" href="#item-6"></a>
    <a class="arrow arrow-next" href="#item-1"></a>
  </div>

</div>
    </div>
    </div>
  </div>


<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505695620/coding_screen_fovo6t.jpg);background-size: cover;height: 100%;">
    <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
    font-size: 2.4em; font-weight:900;">hello</h2>

      <p>text text</p>
    </div>
    </div>
  </div>

<div class="containers" style="height: 30%;background-color: #14141D;">
    <div class="row">
     <div class="col-sm-6">
      <h2 style="margin-top: 0%;">hello</h2>
      <p>text text</p>
    </div>
    </div>
  </div>


<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505342262/Brainstorming_lywjpk.jpg);background-size: cover;height: 100%;">
    <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
    font-size: 2.4em; font-weight:900;">Brainstorming and Requirements</h2>

    </div>
    </div>
  </div>

<div class="containers" style="height: fit-content;background-color: #14141D; padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;">
    <div class="row">
     <div class="col-sm-6">
      <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>Step 1_</h2>
      <p>With all of the basic requirements set, all you have to do is sit back, relax and watch your custom web app grow. I encourage clients to play a close role in collaborating on each part as it gets built.  My goal is for you to know exactly what your web app looks like and to have ownership of the design.  This is as much of your project as mine.  Don't worry...I'll do the heavy lifting.  Once complete, your project will be published online.</p>
    </div>
    </div>
  </div>


<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505342263/mockup_and_design_mmo5th.jpg);background-size: cover;height: 100%; background-position: center;">
    <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
    font-size: 2.4em; font-weight:900;">Build Mockups and Designs</h2>
      <p>text text</p>
    </div>
    </div>
  </div>

 <div class="containers" style="height: fit-content;background-color: #14141D; padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;">
    <div class="row">
     <div class="col-sm-6">
      <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>Step 2_</h2>
      <p>With all of the basic requirements set, all you have to do is sit back, relax and watch your custom web app grow. I encourage clients to play a close role in collaborating on each part as it gets built.  My goal is for you to know exactly what your web app looks like and to have ownership of the design.  This is as much of your project as mine.  Don't worry...I'll do the heavy lifting.  Once complete, your project will be published online.</p>
    </div>
    </div>
  </div>


<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505342271/user_journey_qp0mmc.jpg);background-size: cover;height: 100%;">
    <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
    font-size: 2.4em; font-weight:900;">Build the User Journey</h2>
      <p>text text</p>
    </div>
    </div>
  </div>

  <div class="containers" style="height: fit-content;background-color: #14141D; padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;">
    <div class="row">
     <div class="col-sm-6">
      <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>Step 3_</h2>
      <p>With all of the basic requirements set, all you have to do is sit back, relax and watch your custom web app grow. I encourage clients to play a close role in collaborating on each part as it gets built.  My goal is for you to know exactly what your web app looks like and to have ownership of the design.  This is as much of your project as mine.  Don't worry...I'll do the heavy lifting.  Once complete, your project will be published online.</p>
    </div>
    </div>
  </div>


<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505342264/database_wi95sq.jpg);background-size: cover;height: 100%; background-position: center;">
    <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
    font-size: 2.4em; font-weight:900;">Build the Database</h2>
      <p>text text</p>
    </div>
    </div>
  </div>

  <div class="containers" style="height: fit-content;background-color: #14141D; padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;">
    <div class="row">
     <div class="col-sm-6">
      <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>Step 4_</h2>
      <p>With all of the basic requirements set, all you have to do is sit back, relax and watch your custom web app grow. I encourage clients to play a close role in collaborating on each part as it gets built.  My goal is for you to know exactly what your web app looks like and to have ownership of the design.  This is as much of your project as mine.  Don't worry...I'll do the heavy lifting.  Once complete, your project will be published online.</p>
    </div>
    </div>
  </div>


<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505342554/final_project_ue5bu5.jpg);background-size: cover;height: 100%; background-position: center; ">
    <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
    font-size: 2.4em; font-weight:900;">Production and Maintenance</h2>

    </div>
    </div>
  </div>

<div class="containers" style="height: fit-content;background-color: #14141D; padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;">
    <div class="row">
     <div class="col-sm-6">
      <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>Step 5_</h2>
      <p>With all of the basic requirements set, all you have to do is sit back, relax and watch your custom web app grow. I encourage clients to play a close role in collaborating on each part as it gets built.  My goal is for you to know exactly what your web app looks like and to have ownership of the design.  This is as much of your project as mine.  Don't worry...I'll do the heavy lifting.  Once complete, your project will be published online.</p>
    </div>
    </div>
  </div>
