

<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505695620/coding_screen_fovo6t.jpg);background-size: cover;height: 100%;     background-position: center;">

  <div class="row">
   <div class="col-sm-6">
    <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
    font-size: 2.4em; font-weight:900;">Web Development</h2>
    <p>Let's Build An Awesome Web App!</p>
  </div>


</div>
</div>

<div class="containers" style="height: fit-content;background-color: white; padding-left: 10%;
padding-right: 10%;
padding-top: 5%;">
<div class="row">
 <div class="col-sm-6">
  <h2 style="margin-top: 0%;     margin-left: -5%; color: black; font-weight: 900;">>What is a Full Stack Web Developer?_</h2>
  <br>
  <p style=" text-indent: 50px;color: black; text-align: left;">A full stack web developer takes web application from idea to production.  A very multidisciplinary kind of programming, full stack developers must work with clients to understand their needs, build robust back end databases and web frameworks, design and implement stylish front end designs while maintaining flexibility to meet the client's needs.  There are very few professions where one can be involved in every step of a product's design and production; a reason why I love being a Full Stack Developer.</p>
</div>
</div>
</div>


<div class="containers" style="height: 70%;background-color: #14141D;">
  <div class="row">
   <div class="col-sm-6">
     <h2 style="margin-top: 0%;     padding-top:5%; margin-left: 6%; color: white; font-weight: 900;">>My Competancies_</h2>

     <div class="carousel-wrapper" style="padding-top: 0%; margin-top:-6%;margin-bottom: 0%; padding-bottom: 0%;">

      <span id="item-8"></span>
      <span id="item-9"></span>
      <span id="item-10"></span>
      <span id="item-11"></span>
      <span id="item-12"></span>
      <span id="item-13"></span>
      <span id="item-14"></span>
      <span id="item-15"></span>
      <span id="item-16"></span>
      <span id="item-17"></span>
      <span id="item-18"></span>

      <div class="carousel-item item-8">

        <a class="arrow arrow-prev" href="#item-14"></a>
        <a class="arrow arrow-next" href="#item-9"></a>
      </div>

      <div class="carousel-item item-9">

        <a class="arrow arrow-prev" href="#item-8"></a>
        <a class="arrow arrow-next" href="#item-10"></a>
      </div>

      <div class="carousel-item item-10">
        <a class="arrow arrow-prev" href="#item-9"></a>
        <a class="arrow arrow-next" href="#item-11"></a>
      </div>
      <div class="carousel-item item-11">
        <a class="arrow arrow-prev" href="#item-10"></a>
        <a class="arrow arrow-next" href="#item-12"></a>
      </div>

      <div class="carousel-item item-12">
        <a class="arrow arrow-prev" href="#item-11"></a>
        <a class="arrow arrow-next" href="#item-13"></a>
      </div>

      <div class="carousel-item item-13">
        <a class="arrow arrow-prev" href="#item-12"></a>
        <a class="arrow arrow-next" href="#item-14"></a>
      </div>

      <div class="carousel-item item-14">
        <a class="arrow arrow-prev" href="#item-13"></a>
        <a class="arrow arrow-next" href="#item-15"></a>
      </div>

      <div class="carousel-item item-15">
        <a class="arrow arrow-prev" href="#item-14"></a>
        <a class="arrow arrow-next" href="#item-16"></a>
      </div>

      <div class="carousel-item item-16">
        <a class="arrow arrow-prev" href="#item-15"></a>
        <a class="arrow arrow-next" href="#item-17"></a>
      </div>

      <div class="carousel-item item-17">
        <a class="arrow arrow-prev" href="#item-16"></a>
        <a class="arrow arrow-next" href="#item-18"></a>
      </div>

      <div class="carousel-item item-18">
        <a class="arrow arrow-prev" href="#item-17"></a>
        <a class="arrow arrow-next" href="#item-8"></a>
      </div>

    </div>
  </div>
</div>
</div>

<div class="containers" style="height: fit-content;background-color: white; padding-left: 10%;
padding-right: 10%;
padding-top: 5%;">
<div class="row">
 <div class="col-sm-6">
  <h2 style="margin-top: 0%;     margin-left: -5%; color: black; font-weight: 900;">>My Design Process_</h2>
  <p style=" text-indent: 50px;color: black; text-align: left;">Having a military background, I love my methodologies.  As I gain more and more experience, I developed the following process to best serve my clients.  Within each step, I iterate using the Agile methodology.  I leverage github and other collaboration tools in order to keep clients appraised on important project stages.  Please let me walk you through my design process.</p>
</div>
</div>
</div>



<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505342262/Brainstorming_lywjpk.jpg);background-size: cover;height: 100%;">
  <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
      font-size: 2.4em; font-weight:900;">1. Brainstorming and Requirements</h2>

    </div>
  </div>
</div>

<div class="containers" style="height: fit-content;background-color: #14141D; padding-left: 10%;
padding-right: 10%;
padding-top: 5%;">
<div class="row">
 <div class="col-sm-6">
  <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>Step 1_</h2>
  <p style=" text-indent: 50px;color: white; text-align: left;">One of the hardest parts of a project is finding a way to communicate the feeling and function of a website.  I use such as One-Note, Google Docs and One-Drive to collaborate with clients.  First, we define the value proposition for the client.  This short summary identifies a 'pain' which the client's product intends to solve.  We then work to identify the features necessary to execute the value proposition in its entirety.  With a list of mandatory features, we can move to Step 2.</p>
</div>
</div>
</div>


<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505342263/mockup_and_design_mmo5th.jpg);background-size: cover;height: 100%; background-position: center;">
  <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
      font-size: 2.4em; font-weight:900;">2. Build Mockups and Designs</h2>
      <p>text text</p>
    </div>
  </div>
</div>

<div class="containers" style="height: fit-content;background-color: #14141D; padding-left: 10%;
padding-right: 10%;
padding-top: 5%;">
<div class="row">
 <div class="col-sm-6">
  <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>Step 2_</h2>
  <p style=" text-indent: 50px;color: white; text-align: left;">At this point, I work with the client to identify style components, from color pallettes to fonts.  Additionally, I request all of the photos, audio and media the client wants on the site as well.  With basic design parameters determined, I build some mock ups which incorporate various combinations of the design parameters.  The solutions are built using various tools (Sketch, Powerpoint, Photoshop, etc).  All of the components are assembled on One-Note or Google Slides, so the client can modify the arrangement or structure.  Once I have approval on the overall design, we proceed to Step 3.</p>
</div>
</div>
</div>


<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505342271/user_journey_qp0mmc.jpg);background-size: cover;height: 100%;">
  <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
      font-size: 2.4em; font-weight:900;">3. Build the User Journey</h2>
      <p>text text</p>
    </div>
  </div>
</div>

<div class="containers" style="height: fit-content;background-color: #14141D; padding-left: 10%;
padding-right: 10%;
padding-top: 5%;">
<div class="row">
 <div class="col-sm-6">
  <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>Step 3_</h2>
  <p style=" text-indent: 50px;color: white; text-align: left;">Taking a step back from the creative side, I sit down with the client to build the user journey.  Using no more than five navigation steps, we find the best way to cater to the future website users.  This stage starts on paper, but gradually builds to an interactive mockup on Marvel for the client to showcase to their company.  Once approved, we can start Step 4.</p>
</div>
</div>
</div>


<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505342264/database_wi95sq.jpg);background-size: cover;height: 100%; background-position: center;">
  <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
      font-size: 2.4em; font-weight:900;">4. Build the Database</h2>
      <p>text text</p>
    </div>
  </div>
</div>

<div class="containers" style="height: fit-content;background-color: #14141D; padding-left: 10%;
padding-right: 10%;
padding-top: 5%;">
<div class="row">
 <div class="col-sm-6">
  <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>Step 4_</h2>
  <p style=" text-indent: 50px;color: white; text-align: left;">One of the most deliberate steps, this requires an excellent understanding of the client's value proposition, user journey and needed features.  Depending on the client's understanding of database designs, I involve them with the construction of the master database for the web application.  The most important aspect of this process is to understand how each pieces of data interact with each other.  We walk through the various functions users will execute on the website until we are satisfied the design meets the specification.</p>
</div>
</div>
</div>


<div class="containers" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 17%), url(http://res.cloudinary.com/x78163/image/upload/v1505342554/final_project_ue5bu5.jpg);background-size: cover;height: 100%; background-position: center; ">
  <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0%; text-align: center;padding-top: 26%; color: white;
      font-size: 2.4em; font-weight:900;">5. Production and Maintenance</h2>

    </div>
  </div>
</div>

<div class="containers" style="height: fit-content;background-color: #14141D; padding-left: 10%;
padding-right: 10%;
padding-top: 5%;">
<div class="row">
 <div class="col-sm-6">
  <h2 style="margin-top: 0%;     margin-left: -5%; color: white; font-weight: 900;">>Step 5_</h2>
  <p style=" text-indent: 50px;color: white; text-align: left;">With all of the basic requirements set, all you have to do is sit back, relax and watch your custom web app grow. I encourage clients to play a close role in collaborating on each part as it gets built.  My goal is for you to know exactly what your web app looks like and to have ownership of the design.  This is as much of your project as mine.  Don't worry...I'll do the heavy lifting.  Once complete, your project will be published online.</p>
</div>
</div>
</div>
<div class="containers" style="height: 70%;background-color: #14141D;">
  <div class="row">
   <div class="col-sm-6">
     <h2 style="margin-top: 0%;     padding-top:5%; margin-left: 6%; color: white; font-weight: 900;">>My Portfolio_</h2>

     <div class="carousel-wrapper" style="padding-top: 0%; margin-top:-6%;margin-bottom: 0%; padding-bottom: 0%;">

      <span id="item-19"></span>
      <span id="item-20"></span>
      <span id="item-21"></span>


      <div class="carousel-item item-19">

        <a class="arrow arrow-prev" href="#item-21"></a>
        <a class="arrow arrow-next" href="#item-20"></a>
      </div>

      <div class="carousel-item item-20">

        <a class="arrow arrow-prev" href="#item-19"></a>
        <a class="arrow arrow-next" href="#item-21"></a>
      </div>

      <div class="carousel-item item-21">
        <a class="arrow arrow-prev" href="#item-20"></a>
        <a class="arrow arrow-next" href="#item-19"></a>
      </div>

    </div>
  </div>
</div>
</div>
