<nav id="nav" class="nav">
  <button class="menu">
    <em class="hamburger"></em>
  </button>
  <div class="brand">
    <a href="/">>Joseph DiFrancesco_</a>
  </div>
  <ul class="navbar">
    <li>
      <a href="/experience">Experience</a>
    </li>
    <li>
      <a href="/web">Web Dev</a>
    </li>
    <li>
      <a href="/aug">Projects</a>
    </li>
    <li>
      <a href="/travel">Travel</a>
    </li>
  </ul>
</nav>

