.carousel-wrapper{
  height:40%;
  position:relative;
  width:70%;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  position:absolute;
  top:0;
  display:block;
  width:50px;
  height:100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-light.png") 50% 50% / 20px no-repeat;
}

.arrow-prev{
  left:0;
}

.arrow-next{
    right:0;
    -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940508/venture_aqz4zy.png');
  background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;
  }
.item-2{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940507/eagle_imisds.png');
   background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;
}
.item-3{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940507/congressional_zhcjpw.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-4{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505851689/aviator_h8gl7q.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-5{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505851293/BronzeStar_joli8d.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-6{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505861377/airborne_ggwzls.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-7{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505843112/Air_Medal_z3nvsn.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-8{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940509/postgres_fxfvf0.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-9{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940508/sass_sxpdyv.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-10{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505862154/ror_iaqhvo.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-11{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940507/html_ktgxdy.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-12{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940507/jquery_apn7lw.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-13{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940507/heroku_graonu.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-14{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940507/github_omaoja.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-15{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940507/git_ojwhxw.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-16{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940508/responsive_a7c5q7.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-17{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940507/jquery_apn7lw.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-18{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1505940508/office_tazja4.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-19{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1506029002/wesley_s8t6vk.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-20{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1506029001/joeweb_fdtlbd.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

.item-21{
  background:url('http://res.cloudinary.com/x78163/image/upload/v1506029002/galleri_xjrwyt.png');
background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
        height: 24em;

}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5, #item-6:target ~ .item-6, #item-7:target ~ .item-7, #item-8:target ~ .item-8, #item-9:target ~ .item-9, #item-10:target ~ .item-10, #item-11:target ~ .item-11, #item-12:target ~ .item-12, #item-13:target ~ .item-13, #item-14:target ~ .item-14, #item-15:target ~ .item-15, #item-16:target ~ .item-16, #item-17:target ~ .item-17, #item-18:target ~ .item-18, #item-19:target ~ .item-19, #item-20:target ~ .item-20, #item-21:target ~ .item-21 {
    z-index: 3;
    opacity: 1;
  }



