body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.site-nav {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  height: 75px;
}

.nav-link {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 4px;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em;
  border-bottom: 1px solid rgba(190, 121, 13, 0.3);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-link:hover, .nav-link:focus {
  color: #be790d;
  border-bottom: 10px solid rgba(190, 121, 13, 0.3);
  text-decoration: none;
  outline: 0;
}

.nav-link:active {
  border-bottom: 10px solid rgba(190, 121, 13, 0.3);
  text-decoration: none;
  outline: 0;
}

.nav-logo {
  display: inline-block;
  margin-right: 20px;
  line-height: 2;
  padding: .4em;
  background-image:
  {
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
}

.nav-logo:hover, .nav-logo:focus {
  outline: 0;
}

.bg1 {
  background-color: #ccc;
  width: 100%;
  height: 700px;
}

.bg2 {
  color: #ccc;
  width: 100%;
  height: 2000px;
}

.show {
  top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.down {
  top: 50px;
}

.up {
  top: 1800px;
}
