

  <nav class="site-nav transition" id="nav" data-spy="scroll">
        <a class="nav-link smoothScroll" href="#about">ABOUT</a>
        <a class="nav-link smoothScroll" href="#services">Services</a>

        <a class="nav-link smoothScroll" href="#projects">PROJECTS</a>
        <a class="nav-link smoothScroll" href="#contact">Contact</a>
   </nav>

